 /* Additional styling for horizontal arrangement */
 /* .details {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.details .text-one {
    margin-left: 10px;
}

.details .text-two {
    margin-left: 10px;
    font-size: 0.9em;
    color: #888;
}

.details i {
    font-size: 1.2em;
    color: #333;
    flex: 0 0 25px;
}
 */
