

.port {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0; /* Set a background color for better visibility */
}
.port-img{
    img {
        width: 50%; /* Decrease the width by 50% */
        height: 100px; /* Let the height scale proportionally */
        transform: scale(0.5);
      }
}

.image-with-text {
    position: relative;
    max-width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 5px auto;
    padding: 13px;
}

.ser-content {
    flex: 1;
    padding: 20px;
    text-align: center;
    
}

.ser-image {
    flex: 1;
    text-align: right;
}

.ser-image img {
    max-width: 50%; /* Set the maximum width to 75% of the screen size */
    height: auto;
}

.m-info{
    font-size: 20px;
    text-align:justify;
}

@media (max-width: 768px) {
    .service {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .ser-content {
        order: 2;
       }  
   
   .ser-image{
       order: 1;
   }

    .ser-image {
        text-align: center;
    }

    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}